* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#35bba2, #1ae0bc, #68f5db);
    background-color: #00FFD1;
}

.container {
    width: 23vw;
    /* min-height: 60vh; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgb(168, 167, 167);
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    background-color: white;
}

.header {
    text-align: center;
    background-color: black;
    height: 15%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    color: white;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

form button {
    width: 100%;
    height: 38px;
    font-size: 13.5pt;
    margin: 25px auto 10px auto;
    background-color: black;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 700;
    box-shadow: 0 3px 10px rgb(126, 126, 126);
    transition: 0.3s transform, background-color, color;
}

form button:hover {
    transform: translateY(-7px);
    background-color: rgb(0, 255, 191);
    color: black;
}

.form .warning-message, .form .success-message {
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: .3px;
    padding: 10px;
}

.form .warning-message {
    color: rgb(247, 70, 70);
    background-color: rgb(255, 253, 148);
}

.form .success-message {
    color: white;
    background-color: rgb(38, 255, 111);
}

.form .success-message a {
    color: rgb(62, 91, 255);
}

.text-msg {
    font-size: 11pt;
    color: rgb(73, 73, 73);
    text-align: center;
    margin: 10px 0 0 0;
}

.form-input span a {
    color: rgb(0, 110, 255);
}

@media (max-width: 1215px) {
    .container {
        width: 25vw;
    }
    form button {
        height: 40px;
        font-size: 14.5pt;
    }
    .form-input {
        flex-direction: column;
        margin: 5px 0 10px 0;
        padding: 18px 0;
    }
    .form-input:is(:not(:last-child)) {
        margin-bottom: 20px;
    }
    .form-input label {
        margin-bottom: 10px;
        font-size: 14pt;
    }
    .form-input input {
        margin-left: 0;
        font-size: 11pt;
    }
}

@media (max-width: 950px){
    .container{
        width: 35vw;
    }
}

@media (max-width: 680px){
    .container{
        width: 45vw;
    }
}

@media (max-width: 540px){
    .container{
        width: 65vw;
    }
}